@charset "utf-8";

body {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

.main-item img{
    display: block;
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
}

.cta-btn {
  text-align: center;
  margin-top: 40px;
}

.cta-btn img {
  width: 100%;
  max-width: 360px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  animation: pulse 2s infinite ease-in-out;
}

/* 拡大縮小アニメーション */
@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.slide-items {
    width: 100%;
    height: 100%;
}
  
.slide-items img {
    width: 100%;
    max-width: 750px;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  z-index: 10;
  cursor: pointer;
}

.slick-prev {
  left: 3px;
}

.slick-next {
  right: 3px;
}